    /* Add custom styles here */
   .nav {
     padding: 20px;
   }
   
   .navbar-dark .navbar-nav .nav-link {
    color: white;
  }

    .mission-bubble {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #f8f9fa;
        padding: 10px;
        border-radius: 50%;
        
      }
      .footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
      }
      .footer a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
      }
      .column-separator {
        margin-top: 50px; /* Adjust the value as needed */
      }
      .logo {
        margin-right: auto;
      }
    
    
      .logo-img {
      height: fit-content;
      width: fit-content;
      }
      

      #info-center{
        background-color: white;
        padding: 20px;
      }

      #info-title{
        font-family: 'Abril Fatface';
        font-size: 4em;
      }
      
      #info-title-2{
        font-family: 'Abril Fatface';
        font-size: 2.8em;
      }
      .small-text{
        font-weight: bold;
        font-family:sans-serif;
      }


      .information {
        background-color: #ffd700;
      }
      
     
      .form-control {
        background-color: #fafad2;
        color: white;
      }
      
      .btn {
        background-color: white;
        color: black;
      }
      
      .card-title {
        text-align: center;
        font-family: 'Mynerve', sans-serif;
      }
     
      input.form-control:not(:focus),
      label.form-label {
        color: #000; /* Change the color to the desired one, e.g., #000 for black */
      }


      .custom-card {
        background-color: white;
      }
      .logo-img {
        max-width: 100%;
        max-height: 100%;
        display: block; /* Make sure the image behaves as a block element */
        margin: auto; /* Center the image horizontally within the container */
        transition: opacity 0.3s ease-in-out;
        border-radius: 5px;
}

      .logo-img:hover {
        opacity: 1; /* Increase opacity on hover */ }

      .custom-card {
        background-color: white;
        border: none;
      }

      .clipped-image {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        border-radius: 8px; /* Add a slight border radius to make corners smooth */
        overflow: hidden; /* Hide the parts of the image outside the clipping region */
      }
      