    /* Add custom styles here */
   .nav {
     padding: 20px;
   }
   
   .navbar-dark .navbar-nav .nav-link {
    color: white;
  }

    .mission-bubble {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #f8f9fa;
        padding: 10px;
        border-radius: 50%;
        
      }
      .footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
      }
      .footer a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
      }
      .column-separator {
        margin-top: 50px; /* Adjust the value as needed */
      }
      .logo {
        margin-right: auto;
      }
      .navbar {
        position: relative;
      }
    
      .logo-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px; /* Adjust the width as desired */
        height: 55px; /* Adjust the height as desired */
      }
      .card-body {
        background-color: #ffd700;
      }
      
      .form-control {
        background-color: #fafad2;
        color: white;
      }
      
      .btn {
        background-color: white;
        color: black;
      }
      
      .card-title {
        text-align: center;
        font-family: 'Mynerve', sans-serif;
      }
     
      input.form-control:not(:focus),
      label.form-label {
        color: #000; /* Change the color to the desired one, e.g., #000 for black */
      }

